

* {
	margin: 0;
	padding: 0;
}

body{
  background:url(images/img02.png) repeat;
}
#container
{
    width:90%;
    margin:10px 5% 5px 5%;
}
.page
{
    background: url("images/13.jpg") repeat;
   
}
.header
{
    background:#00ff00 url("images/header.png") repeat-x;
    height:8em;
    margin-top:0;
    margin-bottom:-1.2em;
}
.headtext
{
    padding:10px 0 0 0;
    font-size:175%;
    color:#ffffff;
    line-height:2em;
    letter-spacing:1.75px;
    font-weight:bolder;
   font-family:verdana,sans-serif;
 }
.menubar
{
     background:#309;
     height:2.5em;
}
.subbtn
{
    font-family:verdana,arial,geneva;
    background:#ffffff url("images/btn.jpg");
    font-size:1em;
    color:#ffffff;
    border-color:#ffffff;
    border-width:4px;
    border-style:outset;
    height:40px;
    width:auto;
    padding-left:2px;
    padding-right:2px;
   
}
.subbtn:hover
{
    cursor:pointer;
	background:#ffffff url("images/btn1.jpg");
}
.ssubbtn
{
    font-family:verdana,arial,geneva;
    background:#ffffff url("images/btn.jpg");
    font-size:0.8em;
    color:#ffffff;
    border-color:#ffffff;
    border-width:4px;
    border-style:outset;
    height:25px;
    width:auto;
    padding-left:2px;
    padding-right:2px;

}
.ssubbtn:hover
{
    cursor:pointer;
	background:#ffffff url("images/btn1.jpg");
}

 table{
    border:0;
    background:#f5f9f4;
    font-family:verdana,sans-serif;
    font-size:1.1em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
 table.logtab{
    border:4px solid #a1a1a1;
	border-radius:10px;
    background:url("images/01.jpg") repeat;
    font-family:verdana,sans-serif;
    font-size:0.9em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
	box-shadow: 7px 7px 7px;
	width:300px;
	height:300px;
}

table.tablog{
	border:4px solid #a1a1a1;
	border-radius:10px;
    background:url("images/01.jpg") repeat;
    font-family:verdana,sans-serif;
    font-size:0.9em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
	box-shadow: 7px 7px 7px;
	width:550px;
	height:300px;
	}
 table.regtab{
    border:4px solid #a1a1a1;
	border-radius:10px;
    background:url("images/01.jpg") repeat;
    font-family:verdana,sans-serif;
    font-size:0.9em;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
	box-shadow: 7px 7px 7px;
	width:500px;
	height:300px;
}
.btn {
    text-decoration:none;
    text-align:center;
    background:url("images/img12.jpg") repeat-x;
    color:#ffffff;
    font-family:verdana,sans-serif;
    font-size:1.3em;
    font-weight:bold;
    padding:4px 4px 4px 4px;
    border-color:#ffffff;
    border-width:5px;
    border-style:solid;
    margin-bottom:0;
 }

  #menu li{
      list-style-type:none;
      display:inline;
      float:right;
 }

  #footer
  {
      background:url(images/header.png) repeat-x;
      height:2em;
      color:#ffffff;
      text-align:center;
      padding:10px 5px 5px 5px;
      font-family:verdana,sans-serif;
      font-size:1em;
  }

  .message
  {
      width:89%;
      margin:5px 6% -5px 5%;
      background:#ffcccc;
      color:#ff0000;
      font-size:1.2em;
      padding:2px 5px 2px 5px;
  }

  .admpage
  {
      background:transparent;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
     
  }
 .btmimg
 {
     z-index:40;
     position:relative;
     opacity: 0.55;
    filter:alpha(opacity:55);
	-moz-opacity:0.55;
	-khtml-opacity: 0.55;
 }
 .topimg
 {
     z-index:100;
     left:20%;
     right:20%;
     text-align:center;
     position:absolute;
     top:30%;
     bottom:10%;
     opacity:0.9;
     filter:alpha(opacity:90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
 }
        
 
 a.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
	font-weight:bold;
    text-decoration:none;
}
a.tt span{ display: none; }


a.tt:hover{ z-index:25; color: #aaaaff; background:#fff;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
	color: #993300;
    text-align: center;
	filter: alpha(opacity:90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.90;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url("images/bubble.gif") no-repeat top;
}
a.tt:hover span.middle{ 
	display: block;
	padding: 0 8px;
	background: url("images/bubble_filler.gif") repeat bottom;
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url("images/bubble.gif") no-repeat bottom;
}

.datatable {
border: 1px solid #D6DDE6;
border-collapse: collapse;
text-align:left;
width: 100%;
font-size:1em;
}
.datatable td {border: 1px solid #D6DDE6;
padding: 0.3em;
}
.datatable .tddata
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
.tddata a:link,.tddata a:visited{
     color:white;
     text-decoration:none;
}
.tddata a:hover,.tddata a:active{
    color:white;
    text-decoration:none;
}

.datatable th {
border: 1px solid #828282;
background-color: #ffcccc;
font-weight: bold;
text-align:left;
padding-left: 0.3em;
}
.datatable tr{
background-color: #ffffee;
color: #000000;
}
.datatable tr .alt{
background-color: #ffeeee;
color: #000000;
}
.datatable tr:hover {
background-color: #ccccff;
color: #000000;
}

.help
{
    background-color:#ff99cc;
    color:#ffffff;
    font-size:0.6em;
    font-weight:bolder;
    padding:2%;

}

.pmsg
  {
      width:98.8%;
      margin:0;
      background:#ffffcc;
      color:#cc0000;
      font-size:1.2em;
      padding:2px 5px 2px 5px;
      

}
  .aclass 
{
    font-family:verdana,arial,geneva;
    background:#ffffff url("images/btn.jpg");
    font-size:1em;
    color:#ffffff;
    border-color:#ffffff;
    border-width:4px;
    border-style:outset;
    width:auto;
    height:28px;
    padding:6px 2px 1px 2px;
    
}
.aclass a:link,.aclass a:visited,a:active
{
    text-decoration:none;
    color:#ffffff;
	
}
.aclass:hover
{
    cursor:pointer;
	background:#ffffff url("images/btn1.jpg");
}
.tc
{
    background:url("images/bg_form.gif");
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.timerclass
{
   /* background-color: #ccffff;*/
     background:url("images/bg_form.gif");
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    color: #af0a36;
    border-right-style: ridge;
    border-left-style: ridge;
    border-bottom-style: ridge;
    border-top-style: ridge;
    padding:1px 2px;
    font-size:90%;
    
}

.ntab
{
    text-align:left;
}
.ntab td
{
    color: #af0a36;
    padding:1px 2px 1px 2px;
}
.msg
  {
      width:89%;
      margin:5px 6% -5px 5%;
      color:#ff0000;
      font-size:0.8em;
      padding:2px 5px 2px 5px;
  }
  .mesg
  {
      width:100%;
      margin:15px 6% -5px 32%;
      color:#ff0000;
      font-size:1em;
      padding:2px 5px 2px 5px;
  }
  h2.font{
	  font-family: Arial,Helvetica,sans-serif;
	  }
	  
 #menu lt{
      list-style-type:none;
      display:inline;
      float:left;
 }
 .meesg
  {
      width:100%;
      margin:15px 6% -5px 6%;
      color:#ff0000;
      font-size:1em;
      padding:2px 5px 2px 5px;
  }